<!-- src/app/meni/meni.component.html -->
<div class="container">
  <h2>Meniji</h2>
  <div class="row">
    <div class="col-sm-4" *ngFor="let meni of meniji">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Meni {{ meni.id }}</h5>
          <p class="card-text">{{ meni.naziv }}</p>
          <ul *ngIf="meniStavke[meni.id]">
            <li *ngFor="let stavka of meniStavke[meni.id]">{{ stavka.artikalID.naziv }}</li>
          </ul>
          <button class="btn btn-success mt-3" (click)="updateMeni(meni)">Izmeni</button>
          <button class="btn btn-danger mt-3" (click)="deleteMeni(meni.id)">Obriši</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Dodaj novi meni</h5>
          <div class="form-group">
            <label for="naziv">Naziv:</label>
            <input [(ngModel)]="newMeni.naziv" type="text" class="form-control" id="naziv">
          </div>
          <button class="btn btn-primary mt-3" (click)="addMeni()">Dodaj</button>
        </div>
      </div>
    </div>
  </div>
</div>
